Name: Nikita J. Myrting
Date: 
Study Number:

# Portfolio 03 - consolidate your knowledge
    variables (what is a variable?)
    variable types (strings, integers, floats, lists, dictionaries, tuples, sets)
    loops
        for loops
        while loops
        enumerate()
        appending to a list outside of a loop
    list comprehensions
    pandas dataframes
        building a dataframe out of dictionaries and lists
        importing csv files into a dataframe
        writing a dataframe to a csv file
        sorting a dataframe
        adding new columns to a dataframe
        converting between wide format and long format data
        selecting a sub-section of a dataframe

## Variables and variable types

#### "Regular" variables
1. **Strings**: set of characters, have to be in quotation marks "" or '' 
1. **Intergers**: whole numbers, positive, negative and zero is included.
1. **Floats**: decimal numbers, can also be whole numbersdenoted with a decimal .0. 

#### "Collection" variables

1. **Lists** colections, ordered and mutable. Allows duplicate members. uses [ ]\
1. **Tuples** collections, ordered, immutable (unchangeable). Allows duplicate members. uses ()\
1. **Sets** collection, unordered, immutable, unidexed. No duplicate members. Uses function set() -> outputs {}\
1. **Dictionaries** collection, ordered, mutable, indexed. No duplicate members. Uses {}, key + value

In [4]:
# Strings
hot_drink = " I believe that tea is the best hot drink there is"
# it's a less intuitive when numbers are inserted,
not_hot_drink = "10"
# but due to the quotation marks, this is still interpreted as a string.
type (not_hot_drink)

str

In [14]:
# Integers
teas_today = 2
teas_to_drink_today = 5
# you can add, subtract, divide and multiply integers
remaining_teas_to_drink = teas_to_drink_today - teas_today
# I don't actually have a daily tea-drinking goal, but you know, I'm going with a theme here
print("This is how many teas you have to drink to get to your daily tea drinking goal:", remaining_teas_to_drink)
# We can check the type of the new variable, which is still an integer
type(remaining_teas_to_drink)
# incomparison with the string before, the type is now an integer since the number is given without the quotation markss

This is how many teas you have to drink to get to your daily tea drinking goal: 3

int

In [22]:
# Floats, decimal numbers
#I'm rating teas on a scale from -10 to 10
white_jasmine_score = 9.2
earl_grey_score = 6.8
lemon_tea_score = -2.5

# let's see what the average score is:
average_tea_score = (white_jasmine_score+earl_grey_score+lemon_tea_score)/3
print("The average tea score is:", average_tea_score)

this is the average tea score: 4.5

In [32]:
# Lists
teas = ["Earl Grey", "Jasmine", "White Tea", "Chamomile", "Peppermint Liquorice", "Green Tea"]
# Oh no I fortgot Chai, better add that
teas.append("Chai")
# Actually I'm not really a fan of green tea, let's delete it
teas.remove("Green Tea")
# It's possible to put things other than string in a list, like integers and floats
not_teas = [3, 5.1, "this is not tea"]
# It's also possible to append a list to a list
some_teas = []
some_teas.append(teas)
some_teas.append(not_teas)
print("some of these are teas", some_teas)
# making sure it actually is a list
type(not_teas)

Two lists, some values teas, some not teas [['Earl Grey', 'Jasmine', 'White Tea', 'Chamomile', 'Peppermint Liquorice', 'Chai'], [3, 5.1, 'this is not tea']]

list

In [16]:
# Tuples
# Don't try to change my mind on best drinks, you cannot, it's immuteable now that I've written it as a tuple
best_drinks = ("Tea", "Piña Colada", "Guava soda", "Machhiato")
#
best_drinks.pop("Tea")
# See an AttributeError!
#best_drinks.append("energy drink")

AttributeError: 'tuple' object has no attribute 'pop'

In [11]:
# Sets are made with curly brackets. It can only contain unique members and by that no duplicates.
# Even though I really like company when drinking tea, for a set we'd have to share the same cup
tea_set = {"cup", "cup", "saucer","hot water", "tealeaves", "honey", "teaspoon", "tealeaves"}

print(tea_set)
type(tea_set)

{'saucer', 'honey', 'tealeaves', 'cup', 'hot water', 'teaspoon'}

set

In [3]:
# Sets are often used as a way to find the unique members of an already made tuple/list
tea_types = ["black", "green", "white", "roibos", "green", "green" "black", "white", "green"]

unique_tea_types = set(tea_types)
print(unique_tea_types)
type(unique_tea_types)

{'green', 'white', 'black', 'greenblack', 'roibos'}

set

In [48]:
# Dictionaries. The general structure of a dictionary is like this dict = {"key_1": "value_1", "key_2" "value_2"}
teas = {"names": ["Earl Grey", "Jasmine", "White Tea", "Chamomile", "Peppermint Liquorice"],
       "favourite": "Jasmin",
       "tea types": unique_tea_types,
       "country of origin" : "China",
       "cups a day" : 5
            }


# Can call the key and get the value
print(teas["tea types"])
# Could also be done like this
# teas.get("tea types")
type(teas)

{'greenblack', 'black', 'white', 'roibos', 'green'}

dict

## Loops

#### For Loops
For loops are used to iterate over iterable objects. Let me explain:\

*Iterate* refers to python repeatedly performing a specific action/operation on each element or item in an collection/iterable object

*iterable objects* are objects which can be iterated over.\ Can be collection variables: lists, tuples, sets and dictionaries or objects we haven't worked with such as ranges (E.g. range(1,7)) and generators (which can gerate values as you go).\

#### While Loops
A while loop is used to repeatedly execute a block of code as long as a given condition is True. The loop will continue to execute until the condition becomes False. While loops are used until a certain condition is met.
While loops requires preexisting input = values defined outside the loop.

#### enumerate
Can be used to index the values of iterable objects. 
enumerate(iterable, start=0)
iterable : iterable objects
start (optional): here you can specify in which position of the iterable object the indexing should begin. It is optional and defaults to 0 if not provided

In [4]:
# WHILE LOOPS AND FOR LOOPS
# I have made a case converter, which I was too tired to make in the last portfolio :)
# 

# making an empty list outside the loop to use inside the while loop
text = []
# making an empty string outside the loop to use inside the while loop
txt = ""
# this is a while loop
while True:
    txt = input("Type in some text you want to work with. Write '1' if you are done: ")
    # loop until user types in '1'
    if txt == "1":
        break
    # appending the txt input to the 'text' list outside the loop
    text.append(txt)

# making a new list for the transformed text 
text_transformed = []
# this is a for loop
for txt in text:
    # while loop used here: if mistaken key is pressed, no worries, it'll start over until the condition is met
    while True:
        temp = input("What do you want to transform your text to? Write 'c' to capitalize, 'u' to make all text caps, 'l' for lower case, and 'q' to quit: ")
        if temp == "c":
            txt_2 = txt.capitalize()
            break
        elif temp == "u":
            txt_2 = txt.upper()
            break
        elif temp == "l":
            txt_2 = txt.lower()
            break
        # user do not need to be stuck in the loop if they do not wish to transform text
        elif temp == "q":
            break
        else:
            print("Not a correct key. Please try again.")

    text_transformed.append(txt_2)

for text in text_transformed:
    print(text)

Hello there

#### Enumerate

In [12]:
# Preliminaries
# I'm using the example from lab_01
import nltk
nltk.download('gutenberg')
# Cleaning text
alice = nltk.corpus.gutenberg.raw('carroll-alice.txt')
alice = alice.lower()
alice = alice.replace('\n', ' ')
alice = alice.split(' ')

#Enumerate
# searching for the words "white rabbit" by making an empty list "concordance"
concordance = []
# for loop that uses enumerate
# enumarate is used to access the index (i), and the value (val) in the list 'alice'
for i, val in enumerate(alice):
    # if-statement checking whether word is equal to "rabbit"
    if val == "rabbit":
        # cehcks if word immediately before [i-1] "rabbit" is "white"
        if alice[i-1] == "white":
            #if "white rabbit" is present
            # append + the five words before, i-5, and the five words after, i+5.
            # the words are joined, .join,  into a single string with spaces between them, str(' '
            concordance.append(str(' '.join(alice[i-5:i+5])))

concordance

[nltk_data] Downloading package gutenberg to
[nltk_data]     /Users/Nikita/nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!

['daisies, when suddenly a white rabbit with pink eyes ran',
 'long passage, and the white rabbit was still in sight,',
 'coming. it was the white rabbit returning, splendidly dressed, with',
 "stopped hastily, for the white rabbit cried out, 'silence in",
 ' on this the white rabbit blew three blasts on',
 'the king; and the white rabbit blew three blasts on',
 ' alice watched the white rabbit as he fumbled over',
 'her surprise, when the white rabbit read out, at the',
 "their slates, when the white rabbit interrupted: 'unimportant, your majesty",
 'the king.  the white rabbit put on his spectacles.',
 'were the verses the white rabbit read:--   ',
 'her feet as the white rabbit hurried by--the frightened mouse']

In [13]:
#Enumerate
# searching for the words "white rabbit" by making an empty list "concordance"
concordance = []
# for loop that uses enumerate
# enumarate is used to access the index (i), and the value (val) in the list 'alice'
for i, val in enumerate(alice):
    # if-statement checking whether word is equal to "tea"
    if val == "tea":
        # checks if word immediately before [i-1] "tea" is "hot"
        if alice[i-1] == "hot":
            #if "white rabbit" is present append them and
            #the five words before, i-5, and the five words after, i+5.
            #the strings are then joined with into a single string with spaces between them with str(' '.join(...))
            concordance.append(str(' '.join(alice[i-5:i+5])))
concordance

['he poured a little hot tea upon its nose. ']

## List comprehensions
Works like for loops, but are more compact, go through a collection variable and do something to each value

new_list = [**expression** for **item** in **iterable** if **condition**]
    
**expression**:Operation you want to perform on each item from an existing collection.

**item**: A placeholder representing each element of the iterable e.g. the values inside a list.

**iterable**:  This is the collection of items you already have and want to iterate over e.g. the list itself.

**condition** (optional): Only those items from the iterable that meet certain requirements are included in the new list. 


source: https://www.geeksforgeeks.org/python-list-comprehension/

In [31]:
# List comprehension
# Time for another tea
teas = ["Earl Grey", "Jasmine", "White Tea", "Chamomile", "Peppermint Liquorice", "Green Tea"]
# Now I only want real tea names, not overt categories, let's put the teanames that doesn't end with "Tea" in a new list
tea_names = [x for x in teas if not x.endswith("Tea")]
tea_names

['Earl Grey', 'Jasmine', 'Chamomile', 'Peppermint Liquorice']

## pandas dataframes
 A dataframa (df for short) is in python often represented as a Pandas dataframe, though other options are available (and by some preferred). A dataframe consists of tabular data organized in a table with rows and columns rows. Columns are vertical while rows horizontal.
#### building a dataframe out of dictionaries and lists
#### importing csv files into a dataframe
CSV: comma separated values, it's actually in a txt-format , but it resembles a dataframe in organization and stores tabular data. the function `pd.read_csv` is used
#### writing a dataframe to a csv file
`df.to_csv(path/for/output/folder)``
#### sorting a dataframe
df.sort_values(by=['column_name'])
#### adding new columns to a dataframe
#### converting between wide format and long format data
A wide format has values that *do not* repeat in the first column. Generally used for analyzing data
A long format has values that *do* repeat in the first column. Generally used for visualisation.
src: https://www.statology.org/long-vs-wide-data/
#### selecting a sub-section of a dataframe
**subsection of rows:**\
`loc` gets rows (and/or columns) with particular labels.\
`iloc` gets rows (and/or columns) at integer locations.\
**subsection of columns:**\
using the dataframe we want double brackets are used in order to get both the column name and column data.\
`df[["names"]]``

In [2]:
import pandas as pd

In [31]:
# making a datafra from dictionaries and list
# I have in this version made lists inside the dictionary
teas = {"names": ["matcha", "earl grey", "jasmine", "camomile", "darjeeling white"], 
        "origin year":[960 ,1830, -500, -1550, 1841],
        "origin country": ["china","great britian", "china", "egypt", "india"],
       "tea types": ["green", "black", "any", "herbal", "white"]}
# since I want it from a dictionary I use the '.from_dict'
tea_df = pd.DataFrame.from_dict(teas)

tea_df

              names  origin year origin country tea types
0            matcha          960          china     green
1         earl grey         1830  great britian     black
2           jasmine         -500          china       any
3          camomile        -1550          egypt    herbal
4  darjeeling white         1841          india     white

In [28]:
# importing a pandas dataframe from a csv-file
glasgow = pd.read_csv('https://raw.githubusercontent.com/ethanweed/datasets-for-teaching/main/JASP_data_library/4.%20Regression/Glasgow%20Norms.csv')
glasgow.head()

,word,length,M AROU,SD AROU,N AROU,M VAL,SD VAL,N VAL,M DOM,SD DOM,...,N FAM,M AOA,SD AOA,N AOA,M SIZE,SD SIZE,N SIZE,M GEND,SD GEND,N GEND
0,abattoir,8.0,4.3333,2.3570,24.0,2.7619,1.7156,21.0,4.3333,1.3333,...,34.0,6.7600,0.4271,25.0,4.6522,1.5494,23.0,5.4545,1.1571,22.0
1,abbey,5.0,3.2857,2.3733,28.0,5.7097,1.2233,31.0,4.6333,1.6224,...,33.0,5.1765,1.3388,34.0,5.1212,1.6285,33.0,3.2813,1.2051,32.0
2,abbreviate,10.0,3.2258,1.6006,31.0,5.2727,1.0231,33.0,5.2353,1.2381,...,30.0,5.5429,1.1299,35.0,2.6667,1.6997,33.0,3.9333,0.9978,30.0
3,abdicate,8.0,4.3000,1.8824,30.0,3.7667,1.3828,30.0,4.2500,2.1815,...,33.0,6.2759,0.8261,29.0,4.6786,1.4406,28.0,5.1667,1.1856,30.0
4,abdication,10.0,3.8462,2.2819,26.0,3.8800,1.6080,25.0,4.8000,1.9596,...,31.0,6.4074,0.9132,27.0,5.1304,1.3611,23.0,4.6154,1.0406,26.0

In [7]:
#writing a dataframe to a csv file
# let's write the "tea_df" pd df to a csv-file
# this will store the csv.file in the same folder as the notebook is in.
tea_df.to_csv("tea.csv", encoding='utf-8')
# if you want to change the path of the output file it's a good ide to use the built in OS module
# since the way of referring to path will be the same no matter what user system (macOS, Linux, Windows) you use
import os
# In case no folder called 'out' is made uncomment the next line
#os.mkdir("out")
# aaand now we can save it in that folder
tea_df.to_csv(os.path.join("out", "tea.csv"), encoding='utf-8')

In [8]:
#Sorting a dataframe
#Let's sort the dataframe by which year it originated
tea_df_sorted = tea_df.sort_values(by=['origin year'])
tea_df_sorted

              names  origin year origin country tea types
3          camomile        -1550          egypt    herbal
2           jasmine         -500          china       any
0            matcha          960          china     green
1         earl grey         1830  great britian     black
4  darjeeling white         1841          india     white

In [33]:
# adding new columns to a dataframe
ratings = [3.0, 7.0, 7.5, 4.0, 8.0]
tea_df["Ratings_1to10"] = ratings
tea_df

              names  origin year origin country tea types  Ratings_1to10
0            matcha          960          china     green            3.0
1         earl grey         1830  great britian     black            7.0
2           jasmine         -500          china       any            7.5
3          camomile        -1550          egypt    herbal            4.0
4  darjeeling white         1841          india     white            8.0

In [13]:
# converting between wide format and long format data
# the dataframe is at the moment in a wide format 
tea_oolong = pd.melt(tea_df, id_vars = 'names')
tea_oolong

               names        variable          value
0             matcha     origin year            960
1          earl grey     origin year           1830
2            jasmine     origin year           -500
3           camomile     origin year          -1550
4   darjeeling white     origin year           1841
5             matcha  origin country          china
6          earl grey  origin country  great britian
7            jasmine  origin country          china
8           camomile  origin country          egypt
9   darjeeling white  origin country          india
10            matcha       tea types          green
11         earl grey       tea types          black
12           jasmine       tea types            any
13          camomile       tea types         herbal
14  darjeeling white       tea types          white
15            matcha   Ratings_1to10            3.0
16         earl grey   Ratings_1to10            7.0
17           jasmine   Ratings_1to10            7.5
18          camomile   Ratings_1to10            4.0
19  darjeeling white   Ratings_1to10            8.0

In [40]:
# selecting a sub-section of a dataframe
# With iloc I can choose a sub sectio nof the dataframe based on the rows. With iloc  I choose row 1:3
# which means from the first column (ear grey) to but not including the 3rd column (camomile)
# leaving the columns 'earl grey' and 'jasmine'
tea_row_short = tea_df.iloc[1:3]
tea_row_short

       names  origin year origin country tea types  Ratings_1to10
1  earl grey         1830  great britian     black            7.0
2    jasmine         -500          china       any            7.5

In [47]:
# choosing only certain columns 
tea_column_short = tea_df[["names", "tea types"]]
tea_column_short
tea_column_shorter = tea_df[["names"]]
tea_column_shorter

              names
0            matcha
1         earl grey
2           jasmine
3          camomile
4  darjeeling white