# "Collection" variables

1. tuples
1. lists
1. sets
1. dictionaries

**List** is a ordered and mutable (changeable) collection. Allows duplicate members. uses [ ]\
**Tuple** is a ordered, and immutable (unchangeable) collection which is ordered. Allows duplicate members. uses ()\
**Set** is a collection which is unordered, immutable and unidexed. No duplicate member. Use set(list/tuple) -> {}\
**Dictionary** is a ordered and mutable collection. No duplicate members. Uses {}, key + value

### Transforming variables

In [10]:
a = '5'
# transform string to integer
a = int(a)

In [11]:
# change from integer to string
b = 5
b = str(b)

### Sets

In [12]:
# Sets are used to find the unique values
animals = ["cat", "dog", "monkey", "cat", "dog", "giraffe"]
animals = set(animals)
type(animals)

set

In [13]:
animals

{'cat', 'dog', 'giraffe', 'monkey'}

In [14]:
# used on a string it proveídes all the unique characters (letters, whitespaces, punctuation etc.)
sent = "I am a sentence!"
set(sent)

{' ', '!', 'I', 'a', 'c', 'e', 'm', 'n', 's', 't'}

In [15]:
# creating a list from string, puts each character (unique or not) into different valuables
list(sent)

['I',
 ' ',
 'a',
 'm',
 ' ',
 'a',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e',
 '!']

### Dictionaries

In [16]:
# Dictionaries 
myteacher = {
    "name": "Ethan",
    "subject": "Experimental Psycholinguistics",
    "year_of_birth": 1973,
    "hair_colour": "grey",
    "favourite_fruits": ["apples","grapes", "oranges"]
}

In [32]:
# indexing for dictionaries do not use numbers, use the key and it returns the value
myteacher["name"]
myteacher.get("name")

'Ethan'

In [20]:
# Will give you an error! 
myteacher[0:2]

TypeError: unhashable type: 'slice'

In [ ]:
keys = ["name", "subject", "hair_colour"]

### Zipping
useful for combining variables

In [23]:
numbers = [4, 8, 32]

shopping = zip(myteacher["favourite_fruits"], numbers)

In [24]:
list(shopping)

[('apples', 4), ('grapes', 8), ('oranges', 32)]

In [26]:
shakespeare = ["Hamlet", "King Lear", "Much Ado About Nothing", "Macbeth"]

#### Enumerate
assigning numbers to values in a variable
could be used for providing line numbers for a transcript??
Can you enumerate a dictionary

In [28]:
list(enumerate(shakespeare))

[(0, 'Hamlet'),
 (1, 'King Lear'),
 (2, 'Much Ado About Nothing'),
 (3, 'Macbeth')]

In [30]:
list(enumerate(myteacher))

[(0, 'name'),
 (1, 'subject'),
 (2, 'year_of_birth'),
 (3, 'hair_colour'),
 (4, 'favourite_fruits')]

## Loops

###

### `while` loops

In [34]:
counter = 0
# as long as counter is less than 10
while counter < 10:
    #  add one to the value
    counter = counter + 1
    print(counter)

1
2
3
4
5
6
7
8
9
10

### `for` loops

In [36]:
shakespeare = ["Hamlet", "King Lear", "Much Ado About Nothing", "Macbeth"]

for play in shakespeare:
    print(play)

Hamlet
King Lear
Much Ado About Nothing
Macbeth

In [37]:
for index, value in enumerate(shakespeare):
    print(index, value)

0 Hamlet
1 King Lear
2 Much Ado About Nothing
3 Macbeth

In [38]:
linguists = ["Saussure", "McGregor", "Sapir", "Whorf", "Chomsky", "Tomasello", "Bickerton"]
born = [1857, 1952, 1884, 1897, 1928, 1950, 1926]

In [40]:
# num corresponds to the index position in born, val corresponds to the year attached to each linguists
# enumarate born in order ascribe num to born, can then use this number to find data from linguistis
for num, val in enumerate(born):
    if val < 1900:
        print(linguists[num], val)

Saussure 1857
Sapir 1884
Whorf 1897

In [42]:
# we need to enumarate born since integers cannot be accesed by index (right???)
before_1900 = []
after_1900 = []
for num, val in enumerate(born):
    if val < 1900:
        before_1900.append(linguists[num])
    if val >= 1900:
        after_1900.append(linguists[num])
print("Linguists born before 1900's", before_1900)
print("Linguists born after 1900's", after_1900)

Linguists born before 1900's ['Saussure', 'Sapir', 'Whorf']
Linguists born after 1900's ['McGregor', 'Chomsky', 'Tomasello', 'Bickerton']

In [45]:
import pandas as pd

In [ ]:
df_linguists = pd.Dataframe("19th centure linguists": before_1900,)