In [5]:
a = " I am a string↗"
# ignore alle the underscore things, but the other are funtions you can apply to the string
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [6]:
def dantin_convert():
    for x in text()
        x.replace("?","↗")
        x.replace("£","☺")/

' I am a string?'

## Pandas dataframe

### install and load dependencies 
%pip is how you install modules in python
I've created a requirements.txt and setup.sh files that will automatically install the modules

In [1]:
%pip install lxml
%pip install pandas

Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (4.9.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/Nikita/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Users/Nikita/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

### load interesting data

In [14]:
# make pandas read html
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_Sesame_Street_Muppets")
# has given us a list of dataframes
type(rawdata[1])
df  = rawdata[1]
df

,Character,Actor/Muppet performer,Description,Unnamed: 3
0,Abby Cadabby,Leslie Carrara-Rudolph[13],A 4-year-old fairy-in-training with tiny wings...,NaN
1,Alice Snuffleupagus,Judy Sladky[15],"Baby sister of Aloysius Snuffleupagus (""Snuffy...",NaN
2,Alistair Cookie,Frank Oz[17],"Played by Cookie Monster, he is a parody of Br...",NaN
3,The Amazing Mumford,"Jerry Nelson,[20] John Kennedy[21]","A ""W.C. Fields-esque"" magician whose magic tri...",NaN
4,Anything Muppets,Various[22],Writer Christopher Finch called Anything Muppe...,Writer Christopher Finch called Anything Muppe...
...,...,...,...,...
114,Telly Monster,"Bob Payne (1979), Brian Muehl (1979–1984),[126...","According to Sesame Workshop, ""Telly Monster i...",NaN
115,The Twiddlebugs,"Jim Henson, Frank Oz, Jerry Nelson, Richard Hu...","A family of fuzzy insects (Thomas, Tessie and ...",NaN
116,The Two-Headed Monster,Left Head: Jerry Nelson[40] Right Head: Richar...,"A purple monster with two heads, who generally...",NaN
117,Wes,"Leslie Carrara-Rudolph, Kevin Clash, Carmen Os...",NaN,NaN
118,Zoe,"Fran Brill (1993–2015),[141] Jennifer Barnhart...",Introduced to increase the number of strong fe...,NaN

In [13]:
list(df)

['Character', 'Actor/Muppet performer', 'Description', 'Unnamed: 3']

### Extracting data fra m data frames

##### Work with dataframe columns as lists

In [19]:
# take a column from dataframe and assign it to a list variable

# assign column to variable
a = df.Character
# astore all the items in the first column in a list
a = list(df.Character)
a

['Abby Cadabby',
 'Alice Snuffleupagus',
 'Alistair Cookie',
 'The Amazing Mumford',
 'Anything Muppets',
 'AM Monsters',
 'Aristotle',
 'Arlene Frantic',
 'Baby Bear',
 'Barkley',
 'Beautiful Day Monster',
 'Bennett Snerf',
 'Benny Rabbit',
 'Bert',
 'Betty Lou',
 'Biff',
 'Big Bird',
 'Bip Bippadotta',
 'Bruno the Trashman',
 'Buster',
 'Captain Vegetable',
 'Clementine',
 'Colambo',
 'Cookie Monster',
 'Count von Count',
 'Countess Dahling von Dahling',
 'Curly Bear',
 'Deena',
 'Dexter',
 'Dingers',
 'Don Music',
 'Donald/Ronald Grump',
 'Dr. Feel',
 'Dr. Nobel Price',
 'Elizabeth',
 'Elmo',
 'Ernie',
 'Farley',
 'Fatima',
 'Ferlinghetti Donizetti',
 'Flo Bear',
 'Forgetful Jones',
 'Frazzle',
 'Fred',
 'Gabrielle',
 'Gladys the Cow',
 'Granny Bird',
 'Mrs. Grouch',
 'Gonger',
 'Granny Fanny Nestlerode',
 'Grover',
 'Grundgetta',
 'Gulliver',
 'Guy Smiley',
 'Harvey Kneeslapper',
 'Herbert Birdsfoot',
 'Herry Monster',
 'Honkers',
 'Hoots',
 'Horatio',
 'Humphrey',
 'Ingrid',
 'Jamie Fox',
 'Ji-Young',
 'Julia',
 'Kermit[101]',
 'Kingston Livingston III',
 'Lefty the Salesman',
 'Leo',
 'Little Bird',
 'Little Chrissy',
 'Little Jerry',
 'Little Murray Sparkles',
 'Liz Lemon',
 'Louie',
 'Mama Bear',
 'The Martians[110]',
 'Merry Monster',
 'Meryl Sheep',
 'Monty',
 'Mr. Johnson',
 'Murray Monster',
 'Natasha',
 'Oscar the Grouch',
 'Ovejita',
 'Papa Bear',
 'Placido Flamingo',
 'Poco Loco',
 'Prairie Dawn',
 'Prince Charming',
 'Professor Hastings',
 'Rodeo Rosie',
 'Roosevelt Franklin',
 "Roosevelt Franklin's Mother",
 'Rosita',
 'Roxie Marie',
 'Ruby',
 'Rudy',
 'SAM',
 'Segi (2010)',
 'Sherlock Hemlock',
 'Sherry Netherland',
 'Simon Soundman',
 'Slimey',
 'Smartie (2017)',
 'Mr. Snuffleupagus ("Snuffy")',
 'Sonny Friendly',
 'The Squirelles',
 'The Oinker Sisters[1]',
 'Stinky the Stinkweed',
 'Sully',
 'Super Grover',
 'Tango',
 'Tamir',
 'Telly Monster',
 'The Twiddlebugs',
 'The Two-Headed Monster',
 'Wes',
 'Zoe']

In [24]:
# find first four 
a[0:4]
# find last three
a[-3:]
# find the last three items 
a[-3:len(a)]

['The Two-Headed Monster', 'Wes', 'Zoe']

In [21]:
# find 
a[7:10]

['The Two-Headed Monster', 'Wes', 'Zoe']

In [38]:
# assign the first 20 items to new value b
b = a[0:20]

In [31]:
# remove last items in list, pop takes the final item
b.pop()

'Buster'

In [32]:
b.append('Kermit')
b

['Abby Cadabby',
 'Alice Snuffleupagus',
 'Alistair Cookie',
 'The Amazing Mumford',
 'Anything Muppets',
 'AM Monsters',
 'Aristotle',
 'Arlene Frantic',
 'Baby Bear',
 'Barkley',
 'Beautiful Day Monster',
 'Bennett Snerf',
 'Benny Rabbit',
 'Bert',
 'Betty Lou',
 'Biff',
 'Big Bird',
 'Bip Bippadotta',
 'Bruno the Trashman',
 'Kermit']

In [33]:
# insert an item onto a lsist at a particular position
b.insert(5, 'Kermit')
b

['Abby Cadabby',
 'Alice Snuffleupagus',
 'Alistair Cookie',
 'The Amazing Mumford',
 'Anything Muppets',
 'Kermit',
 'AM Monsters',
 'Aristotle',
 'Arlene Frantic',
 'Baby Bear',
 'Barkley',
 'Beautiful Day Monster',
 'Bennett Snerf',
 'Benny Rabbit',
 'Bert',
 'Betty Lou',
 'Biff',
 'Big Bird',
 'Bip Bippadotta',
 'Bruno the Trashman',
 'Kermit']

In [35]:
# another way to put replace something in certain position
b[1] = 'Fozzy Bear'
b

['Abby Cadabby',
 'Fozzy Bear',
 'Alistair Cookie',
 'The Amazing Mumford',
 'Anything Muppets',
 'Kermit',
 'AM Monsters',
 'Aristotle',
 'Arlene Frantic',
 'Baby Bear',
 'Barkley',
 'Beautiful Day Monster',
 'Bennett Snerf',
 'Benny Rabbit',
 'Bert',
 'Betty Lou',
 'Biff',
 'Big Bird',
 'Bip Bippadotta',
 'Bruno the Trashman',
 'Kermit']

In [37]:
# use list comprehension to manipulate items in a vectorized fashion
# list comprehension: basically loops in a compressed form - gooes through the list and do something to each value 
# apllying "is a cute monster" to the end of every monster :) 
c = [x + ' is a cute monster' for x in b]
# consistency is helpful, try to use the same variables each time you make a loop, so that you know what you're dealing with hen skimming through code. 
c

['Abby Cadabby is a cute monster',
 'Fozzy Bear is a cute monster',
 'Alistair Cookie is a cute monster',
 'The Amazing Mumford is a cute monster',
 'Anything Muppets is a cute monster',
 'Kermit is a cute monster',
 'AM Monsters is a cute monster',
 'Aristotle is a cute monster',
 'Arlene Frantic is a cute monster',
 'Baby Bear is a cute monster',
 'Barkley is a cute monster',
 'Beautiful Day Monster is a cute monster',
 'Bennett Snerf is a cute monster',
 'Benny Rabbit is a cute monster',
 'Bert is a cute monster',
 'Betty Lou is a cute monster',
 'Biff is a cute monster',
 'Big Bird is a cute monster',
 'Bip Bippadotta is a cute monster',
 'Bruno the Trashman is a cute monster',
 'Kermit is a cute monster']

In [41]:
# use list comprehension to compare two list and 
# select items from list 1 that match items in list 2 
b = a[0:20]
favs= ["Barkley", "Kermit", "Betty Lou", "Bert"]
# list comprehensions are best when they're fairly simple, and doing things more complicated that this, probs better to use real loop
# make list of all favourites
c = [x for x in b if x in favs]

# This gives us all the monsters in the lsit that are not favourites 
c = [x for x in b if x not in favs]
print(c)

['Abby Cadabby', 'Alice Snuffleupagus', 'Alistair Cookie', 'The Amazing Mumford', 'Anything Muppets', 'AM Monsters', 'Aristotle', 'Arlene Frantic', 'Baby Bear', 'Beautiful Day Monster', 'Bennett Snerf', 'Benny Rabbit', 'Biff', 'Big Bird', 'Bip Bippadotta', 'Bruno the Trashman', 'Buster']

In [43]:
d = [1,2,3,4,5]
# take every integer and add 10 to them
d = [x + 10 for x in d]
d

[11, 12, 13, 14, 15]

In [ ]:
df = pd.read()

In [ ]:
# total number of rows 
df.shape[0]

In [ ]:
# give me the rows from 4 to the toal number of rows 
df2 = df.iloc[4:shape[0]]
df2

In [ ]:
# putting to dataframes on top of each other in switched order 
df3 = pd.concat([df2, df1])
df3

In [ ]:
# using iloc to find row 1 takes the row from this dataframe
df3.iloc[1]
# using loc to find row one take row one from the original dataframe, since python remembers (the names are still kept)
df3.loc[1]

In [ ]:
# put back into original order 
df3 = pd.concat([df1, df2])
# making new column "average" and finding mean values of each row 
df3['average'] = df3.mean(axis = 1 )
df3

In [ ]:
# okay look at Ethans code, it went too fast

### Transposing - reshaping your data!
you can take a dataframe and switch it around to the side